{
    auto_https off
}

:80 {
    reverse_proxy visicore-app:5001
    
    # Sicherheits-Header
    header {
        X-Content-Type-Options nosniff
        X-Frame-Options DENY
        X-XSS-Protection "1; mode=block"
        Referrer-Policy strict-origin-when-cross-origin
    }
    
    # Logs
    log {
        output file /var/log/caddy/access.log
    }
}
